<header>
	<h1>Advent of Code</h1>
	<h2>Scott Morris</h2>
</header>
<div>{{title}}</div>
{{#each years}}
<section class="aoc-year">
	<header>
		<h2>Year: {{title}}</h2>
	</header>
	<div>
		<ul>
		{{#each days}}
			<li>{{title}}</li>
		{{/each}}
		</ul>
	</div>
</section>
{{/each}}